name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
env:
  BOT_TOKEN: ${{ secrets.BOT_TOKEN }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Install nodejs
      uses: actions/setup-node@v1
      with:
        node-version: '12.16.1'
    - run: npm install
    - run: yarn test
